<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!--<modules>
      		<remove name="WebDAVModule" />
    	</modules>
		<handlers>
		--><!--<remove name="WebDAV" />--><!--
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>-->
		<aspNetCore processPath="dotnet" arguments=".\KobiMuhendislikTicket.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<environmentVariable name="Database__ApplyMigrationsOnStartup" value="true" />
				<!--<environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=.\SQLEXPRESS;Database=KobiTicketDbId;User Id=ticket;Password=1;TrustServerCertificate=True;MultipleActiveResultSets=True" />-->
				<environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=192.168.100.51;Database=KobiTicket;User Id=ticket_user;Password=ea8080;TrustServerCertificate=True;MultipleActiveResultSets=True" />
				<environmentVariable name="Jwt__Key" value="Kobi_Muhendislik_Ticket_Sistemi_Guvenli_Anahtar_2026_Yenilenmis" />
				<environmentVariable name="Jwt__Issuer" value="kobimuhendislik" />
				<environmentVariable name="Jwt__Audience" value="kobimusterileri" />
				<environmentVariable name="Admin__Username" value="admin" />
				<environmentVariable name="Admin__Email" value="admin@test.com" />
				<environmentVariable name="Admin__Password" value="Admin123!" />
				<environmentVariable name="EmailSettings__SmtpHost" value="smtp.gmail.com" />
				<environmentVariable name="EmailSettings__SmtpPort" value="587" />
				<environmentVariable name="EmailSettings__SmtpUsername" value="eymena071@gmail.com" />
				<environmentVariable name="EmailSettings__SmtpPassword" value="uheo cptk dohj ochv" />
				<environmentVariable name="EmailSettings__FromEmail" value="eymena071@gmail.com" />
				<environmentVariable name="EmailSettings__FromName" value="kobi muhendislik ticket sistemi" />
				<environmentVariable name="EmailSettings__EnableSsl" value="true" />
				<environmentVariable name="Cors__AllowedOrigins__0" value="*" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>