<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\KobiMuhendislikTicket.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <add name="ASPNETCORE_ENVIRONMENT" value="Production" />

          <add name="ConnectionStrings__DefaultConnection" value="Server=.\SQLEXPRESS;Database=KobiTicketDbId;User Id=sa;Password=1;TrustServerCertificate=True;MultipleActiveResultSets=True" />

          <add name="Jwt__Key" value="Kobi_Muhendislik_Ticket_Key" />
          <add name="Jwt__Issuer" value="KobiMuhendislik" />
          <add name="Jwt__Audience" value="KobiMusterileri" />

          <add name="Admin__Username" value="admin" />
          <add name="Admin__Email" value="admin@test.com" />
          <add name="Admin__Password" value="Admin123!" />

          <add name="EmailSettings__SmtpHost" value="smtp.gmail.com" />
          <add name="EmailSettings__SmtpPort" value="587" />
          <add name="EmailSettings__SmtpUsername" value="eymena071@gmail.com" />
          <add name="EmailSettings__SmtpPassword" value="kazm wnsc xidg ucpv" />
          <add name="EmailSettings__FromEmail" value="eymena071@gmail.com" />
          <add name="EmailSettings__FromName" value="Kobi Muhendislik Ticket Sistemi" />
          <add name="EmailSettings__EnableSsl" value="true" />

          <add name="Cors__AllowedOrigins__0" value="http://localhost:8080" />
          <add name="Cors__AllowedOrigins__1" value="https://localhost:8080" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>