<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\KobiMuhendislikTicket.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<environmentVariable name="Database__ApplyMigrationsOnStartup" value="true" />
				<environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=192.168.100.51;Database=TicketKobi;User Id=ticket_user;Password=ea8080;TrustServerCertificate=True;MultipleActiveResultSets=True" />
				<environmentVariable name="Jwt__Key" value="Kobi_Muhendislik_Ticket_Sistemi_Guvenli_Anahtar_2026_Yenilenmis" />
				<environmentVariable name="Jwt__Issuer" value="kobimuhendislik" />
				<environmentVariable name="Jwt__Audience" value="kobimusterileri" />
				<environmentVariable name="Admin__Username" value="admin" />
				<environmentVariable name="Admin__Email" value="fatih.akkin@birinci.com" />
				<environmentVariable name="Admin__Password" value="Admin123!" />
				<environmentVariable name="EmailSettings__SmtpHost" value="mail.kobimuhendislik.com" />
				<environmentVariable name="EmailSettings__SmtpPort" value="25" />
				<environmentVariable name="EmailSettings__SmtpUsername" value="ticket@kobimuhendislik.com" />
				<environmentVariable name="EmailSettings__SmtpPassword" value="6*73kzG>I^4O" />
				<environmentVariable name="EmailSettings__FromEmail" value="ticket@kobimuhendislik.com" />
				<environmentVariable name="EmailSettings__FromName" value="Kobi Mühendislik - Ticket" />
				<environmentVariable name="EmailSettings__EnableSsl" value="false" />
				<environmentVariable name="Cors__AllowedOrigins__0" value="*" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>